<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<img src="@{/resources/bg.png}" class="img-fluid">
<h1>Spring App</h1>
<p th:text="${serverTime}">The time on the server is ${serverTime}</p>

<table>
    <tr th:each="customer: ${customers}" th:object="${customer}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="*{customer.name}"></td>
        <td th:text="*{customer.email}"></td>
        <td th:text="*{customer.createdAt}"></td>
        <td th:text="*{customer.lastLoginAt}"></td>
    </tr>
</table>
</body>
</html>